{% extends 'base.html.twig' %}
{% block body %}
    <header>
				<div class="row-2">
					<nav>
						<ul class="menu">
						  <li><a class="active" href="path(">Acceuil</a></li>
						  <li><a href="news.html">Documents</a></li>
						  <li><a href="services.html">Se connecter</a></li>
						  <li><a href="products.html">S'inscrire</a></li>
						  
						</ul>
					</nav>
				</div>
				
			</header>
{% endblock %}